CREATE DATABASE QLSBG
USE [QLSBG]
GO
/****** Object:  Table [dbo].[HDB]    Script Date: 7/27/2021 8:49:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDB](
	[IDHDB] [int] IDENTITY(1,1) NOT NULL,
	[MAHD] [char](20) NOT NULL,
	[MANV] [char](10) NOT NULL,
	[MAKH] [char](10) NOT NULL,
	[MASP] [char](10) NOT NULL,
	[NGAYNHAP] [datetime] NULL,
	[SOLUONG] [smallint] NULL,
	[DGIA] [int] NOT NULL,
	[GG] [int] NOT NULL,
	[TT] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDN]    Script Date: 7/27/2021 8:49:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDN](
	[IDHDN] [int] IDENTITY(1,1) NOT NULL,
	[MAHD] [char](20) NOT NULL,
	[MANV] [char](10) NOT NULL,
	[MASP] [char](10) NOT NULL,
	[NGAYNHAP] [datetime] NULL,
	[SOLUONG] [smallint] NULL,
	[DGNHAP] [int] NOT NULL,
	[DGBAN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 7/27/2021 8:49:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](10) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [char](12) NOT NULL,
	[VIP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NCC]    Script Date: 7/27/2021 8:49:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCC](
	[MANCC] [char](10) NOT NULL,
	[TENNCC] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 7/27/2021 8:49:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[TENNV] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [char](12) NOT NULL,
	[TENTK] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 7/27/2021 8:49:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [char](10) NOT NULL,
	[TENSP] [nvarchar](50) NOT NULL,
	[LOAI] [nvarchar](5) NOT NULL,
	[SL] [int] NOT NULL,
	[DGNHAP] [int] NOT NULL,
	[DGBAN] [int] NULL,
	[MANCC] [char](10) NULL,
	[ANH] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 7/27/2021 8:49:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[HOTEN] [nvarchar](50) NOT NULL,
	[TENTK] [varchar](50) NOT NULL,
	[MK] [varchar](50) NOT NULL,
	[CHDB] [nvarchar](50) NOT NULL,
	[NTK] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TENTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HDB] ON 

INSERT [dbo].[HDB] ([IDHDB], [MAHD], [MANV], [MAKH], [MASP], [NGAYNHAP], [SOLUONG], [DGIA], [GG], [TT]) VALUES (19, N'HDB255202172320     ', N'NV03      ', N'KH08      ', N'SP05      ', CAST(N'2021-04-25T00:00:00.000' AS DateTime), 1, 290000, 10, 261000)
INSERT [dbo].[HDB] ([IDHDB], [MAHD], [MANV], [MAKH], [MASP], [NGAYNHAP], [SOLUONG], [DGIA], [GG], [TT]) VALUES (20, N'HDB255202172320     ', N'NV03      ', N'KH08      ', N'SP07      ', CAST(N'2021-05-24T00:00:00.000' AS DateTime), 1, 300000, 0, 300000)
INSERT [dbo].[HDB] ([IDHDB], [MAHD], [MANV], [MAKH], [MASP], [NGAYNHAP], [SOLUONG], [DGIA], [GG], [TT]) VALUES (21, N'HDB255202172552     ', N'NV03      ', N'KH05      ', N'SP04      ', CAST(N'2021-03-24T00:00:00.000' AS DateTime), 1, 132000, 0, 132000)
SET IDENTITY_INSERT [dbo].[HDB] OFF
GO
SET IDENTITY_INSERT [dbo].[HDN] ON 

INSERT [dbo].[HDN] ([IDHDN], [MAHD], [MANV], [MASP], [NGAYNHAP], [SOLUONG], [DGNHAP], [DGBAN]) VALUES (8, N'HDN812202091512     ', N'NV01      ', N'SP01      ', CAST(N'2020-08-12T00:00:00.000' AS DateTime), 1, 210000, 250000)
INSERT [dbo].[HDN] ([IDHDN], [MAHD], [MANV], [MASP], [NGAYNHAP], [SOLUONG], [DGNHAP], [DGBAN]) VALUES (9, N'HDN812202091512     ', N'NV02      ', N'SP02      ', CAST(N'2020-08-12T00:00:00.000' AS DateTime), 1, 350000, 400000)
INSERT [dbo].[HDN] ([IDHDN], [MAHD], [MANV], [MASP], [NGAYNHAP], [SOLUONG], [DGNHAP], [DGBAN]) VALUES (11, N'HDN812202093253     ', N'NV01      ', N'SP01      ', CAST(N'2020-08-12T00:00:00.000' AS DateTime), 7, 330000, 380000)
SET IDENTITY_INSERT [dbo].[HDN] OFF
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [VIP]) VALUES (N'KH01      ', N'Võ Minh Trường', N'Măng Thít', N'0947437210  ', 0)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [VIP]) VALUES (N'KH02      ', N'Lê Tuấn', N'Vĩnh Long', N'0942135323  ', 1)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [VIP]) VALUES (N'KH03      ', N'Ngô Quốc Thắng', N'Kiên Giang', N'0942135343  ', 1)
GO
INSERT [dbo].[NCC] ([MANCC], [TENNCC]) VALUES (N'ADD2027   ', N'Adidas')
INSERT [dbo].[NCC] ([MANCC], [TENNCC]) VALUES (N'BC2912    ', N'Balenciaga')
INSERT [dbo].[NCC] ([MANCC], [TENNCC]) VALUES (N'CN2051    ', N'Chanel')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [TENTK]) VALUES (N'NV01      ', N'Lê Tuấn', N'Vĩnh Long', N'0123456781  ', N'LeTuan')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [TENTK]) VALUES (N'NV02      ', N'Ngô Quốc Thắng', N'Rạch Giá', N'0123456782  ', N'NgoQuocThang')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [TENTK]) VALUES (N'NV03      ', N'Nguyễn Mạnh Tiến', N'Nam Du', N'0123456783  ', N'NguyenManhTien')
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [LOAI], [SL], [DGNHAP], [DGBAN], [MANCC], [ANH]) VALUES (N'SP01      ', N'Michael Jordan"s Flu Game "Air Jordan 12S', N'Nam', 29, 1000, 1100, N'ADD2027   ', N'Snk.png')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [LOAI], [SL], [DGNHAP], [DGBAN], [MANCC], [ANH]) VALUES (N'SP02      ', N'Buscemi 100 MM Diamond', N'Nam', 17, 145000, 159500, N'NK0215    ', N'GTT_NAM_NATT-5283.jpg')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [LOAI], [SL], [DGNHAP], [DGBAN], [MANCC], [ANH]) VALUES (N'SP03      ', N'Michael Jordan"s Game Worn Converse Fastbreak', N'Nữ', 21, 120000, 132000, N'YM2010    ', N'GTT_NU_NUTT-0475.jpg')
GO
INSERT [dbo].[TAIKHOAN] ([HOTEN], [TENTK], [MK], [CHDB], [NTK]) VALUES (N'Admin', N'admin', N'admin123', N'admin', 1)
INSERT [dbo].[TAIKHOAN] ([HOTEN], [TENTK], [MK], [CHDB], [NTK]) VALUES (N'Hoàng Thái', N'hoangthai', N'hoangthai', N'hoàng thái', 0)
INSERT [dbo].[TAIKHOAN] ([HOTEN], [TENTK], [MK], [CHDB], [NTK]) VALUES (N'Lê Tuấn', N'LeTuan', N'18004152', N'Ba Càng', 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__CA1930A5606F97E5]    Script Date: 7/27/2021 8:49:49 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHANVIEN__CA1930A56A3556AD]    Script Date: 7/27/2021 8:49:49 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HDB]  WITH CHECK ADD  CONSTRAINT [PK_HDBKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HDB] CHECK CONSTRAINT [PK_HDBKH]
GO
ALTER TABLE [dbo].[HDB]  WITH CHECK ADD  CONSTRAINT [PK_HDBNV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HDB] CHECK CONSTRAINT [PK_HDBNV]
GO
ALTER TABLE [dbo].[HDB]  WITH CHECK ADD  CONSTRAINT [PK_HDBSP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HDB] CHECK CONSTRAINT [PK_HDBSP]
GO
ALTER TABLE [dbo].[HDN]  WITH CHECK ADD  CONSTRAINT [PK_HDNNV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HDN] CHECK CONSTRAINT [PK_HDNNV]
GO
ALTER TABLE [dbo].[HDN]  WITH CHECK ADD  CONSTRAINT [PK_HDNSP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HDN] CHECK CONSTRAINT [PK_HDNSP]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [PK_NVTK] FOREIGN KEY([TENTK])
REFERENCES [dbo].[TAIKHOAN] ([TENTK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [PK_NVTK]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [PK_SPNCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NCC] ([MANCC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [PK_SPNCC]
GO
ALTER TABLE [dbo].[HDN]  WITH CHECK ADD CHECK  (([DGBAN]>[DGNHAP]))
GO
ALTER TABLE [dbo].[HDN]  WITH CHECK ADD  CONSTRAINT [CK__HDN__DGNHAP__7849DB76] CHECK  (([DGNHAP]>(999)))
GO
ALTER TABLE [dbo].[HDN] CHECK CONSTRAINT [CK__HDN__DGNHAP__7849DB76]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  (([SDT] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  (([VIP]='1' OR [VIP]='0'))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (([SDT] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD CHECK  (([DGBAN]>[DGNHAP]))
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK__SANPHAM__DGNHAP__3493CFA7] CHECK  (([DGNHAP]>(999)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK__SANPHAM__DGNHAP__3493CFA7]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD CHECK  (([LOAI]=N'Nữ' OR [LOAI]='Nam'))
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD CHECK  (([NTK]='1' OR [NTK]='0'))
GO
